{% load staticfiles %}
{% load post_extra %}
<html>
	<head>
		<title>Design6</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/navBar.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	</head>

	<body>
		<div class="container-fluid menuBar">
			<authMenu>
				<ul>
					<li><a href="{% url 'home_page' %}" id="titleText">Design6</a></li>
				</ul>
			</authMenu>
		</div>
		{% block content %}
		{% endblock %}
		<div class="container-fluid footer">
			<ul class="footer_list">
				<li><a href="{% url 'about_us' %}">About Us</a></li>
				<li><a href="{% url 'contact_us' %}">Contact Us</a></li>
				<li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
				<li><a href="{% url 'support' %}">Support</a></li>
				<li><a href="{% url 'faq' %}">FAQ</a></li>
			</ul>
		</div>
	</body>
</html>