{% extends 'registration/authBase.html' %}

{% block content %}
	<div class="container-fluid latest">
		<p>Login</p>
	</div>
	<div class="container-fluid marginClass">
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again</p>
		{% else %}
			<h4>Enter username and password</h4>
		{% endif %}
		<form method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="hidden" name="next" value="{{ next }}" />
			<input type="submit" value="Log-in">
		</form>
	</div>
	<div class="container-fluid marginClass social">
		<ul>
			<li class="facebook"><a href="{% url 'social:begin' 'facebook' %}"><button>Sign in with Facebook</button></a></li>
			<li class="twitter"><a href="{% url 'social:begin' 'twitter' %}"><button>Sign in with Twitter</button></a></li>
		</ul>
	</div>
	<div class="container-fluid marginClass">
		<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
		<p>Don't have an account? <a href="{% url 'signUp' %}">Sign up now</a></p>
	</div>
{% endblock %}