{% extends 'registration/authBase.html' %}

{% block content %}
	<div class="container-fluid latest">
		<p>Login</p>
	</div>
	<div class="container-fluid marginClass">
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again</p>
		{% else %}
			<h4>Enter username and password</h4>
		{% endif %}
		<form method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="hidden" name="next" value="{{ next }}" />
			<input type="submit" value="Log-in">
		</form>
		<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
	</div>
{% endblock %}