{% extends 'registration/authBase.html' %}

{% block content %}
	<div class="container-fluid latest">
		<p>Reset your password</p>
	</div>
	<div class="container-fluid marginClass">
		{% if validlink %}
			<p>Please enter your new password twice</p>
			<form action="." method="post">
				{% csrf_token %}
				{{ form.as_p }}	
				<p><input type="submit" value="Change my password"/></p>
			</form>
		{% else %}
			<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset</p>
		{% endif %}
	</div>
{% endblock %}